@model TakvimOdevi.Models.ViewModels.EventViewModel
@using System.Web
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            @Html.HiddenFor(m => m.UserId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label">Name</label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label">Description</label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.StartTime" class="control-label">Start Time</label>
                <input asp-for="Event.StartTime" class="form-control" />
                <span asp-validation-for="Event.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EndTime" class="control-label">End Time</label>
                <input asp-for="Event.EndTime" class="form-control" />
                <span asp-validation-for="Event.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Location">Location</label>
                <select id="Location" asp-for="Event.Location" class="form-control">
                    <option value="">Select a Location</option>
                    @foreach (var location in Model.Location)
                    {
                        <option value="@location.Value">@location.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function SetSelectedLocation(Location) {
        var locations = document.getElementById('Location'),
            loc,
            i;
        for (i = 0; i < locations.length; i++) {
            loc = locations[i];
            if (loc.innerText === Location) {
                loc.selected = true;
            }
        }
    }

    var eventLocation = "@Html.Raw(Model.LocationName)";
    document.addEventListener('DOMContentLoaded', function () {
        SetSelectedLocation(eventLocation);
    });
</script>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}